@font-face {
    font-family: 'Alienor';
    src: url('type/AlienorDisplay-Regular.ttf') format('truetype');
    src: url('type/AlienorDisplay-Regular.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Bitmap';
    src: url('type/BoutiqueBitmap7x7.ttf') format('truetype');
    src: url('type/BoutiqueBitmap7x7.woff') format('woff');
    font-weight: normal;
}

:root {
    --bg: white;
    --txt: black;
    --no: rgb(170,170,170);
}

* {
    margin: 2px 3px;
    cursor: default;
    transition: ease-in-out 0.3s;
}

body {
    background-color: var(--bg);
}

a {
    color: inherit;
    font-style: italic;
    cursor: pointer;
    transition: none;
}



/* Main */
.menu {
    width: 19.5%;
    height: calc(100vh - 10px);
    position: fixed;
    border-right: 1px solid var(--txt);
}

.content {
    margin-left: 23%;
    width: 77%;
    height: calc(100vh - 10px);
    overflow: hidden;
}

.gd {
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 2.8vw;
    line-height: 3vw;
    color: var(--txt);
    cursor: pointer;
}

.jail {
    font-family: Alienor;
    color: transparent;
    font-size: 6.15vw;
    -webkit-text-stroke-color: var(--txt);
    transform: skew(-20deg, 0deg) scaleX(0.35) translate(21vw, -6.75vw);
    -webkit-text-stroke-width: 1px;
    transform-origin: top left;
    cursor: pointer;
}

.check {
    display: grid;
    grid-template-columns: 1em auto;
    color: var(--txt);
    position: absolute;
    bottom: 0;
    left: 2px;
  }

.check li {
    display: inline-flex;
    position: relative;
    counter-increment: inst;
    margin-left: 40px;
    padding-left: 4px;
    padding-right: 6px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
}
.check li::before {
    position: relative;
    display: inline-block;
    content: "(" counter(inst) ")";
    min-width: 70px;
}

.check li:hover {
    background-color: var(--txt);
    color: var(--bg);
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: none;
    margin: 0;
    color: var(--txt);
    width: 24px;
    height: 24px;
    border: 1px solid currentColor;
    border-radius: 40px;
    transform: translateY(7px);
    place-content: center;
    display: grid;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 40px;
    transform: scale(0);
    /* clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%); */
    box-shadow: inset 20px 20px currentColor;
  }
  
input[type="checkbox"]:checked::before {
    transform: scale(1);
}

#final {
    pointer-events: none;
    cursor: not-allowed;
    border: 1px solid var(--no);
}

#finalwr {
    width: 19px;
    height: 19px;
    position: fixed;
    bottom: 14px;
    border-radius: 40px;
    cursor: not-allowed;
}

#question {
    -webkit-appearance: none;
    appearance: none;
    background-color: none;
    color: var(--txt);
    width: fit-content;
    max-width: calc(90% - 33px);
    height: auto;
    transform: translate(2px,-6vw);
    border: 1px solid currentColor;
    border-radius: 14px;
    font-family: Bitmap;
    font-size: 16px;
    line-height: 18.5px;
    text-align: left;
    padding: 5px 6.5px 2px 6.5px;
    cursor: default;
    pointer-events: none;
}

#alarm {
    position: fixed;
    color: var(--txt);
    background-color: var(--bg);
    padding: 10vh 10vw;
    border: 1px solid var(--txt);
    box-shadow: 0px 0px 12px var(--txt);
    top: 34vh;
    left: 41vw;
    font-family: Bitmap;
    font-size: 20px;
    text-align: center;
    display: none;
}

.cross {
    width: 24px;
    height: 1.3px;
    position: fixed;
    background-color: var(--txt);
    top: 36vh;
    left: 41.5vw;
}

#crosswr {
    width: 20px;
    height: 20px;
    position: fixed;
    top: 35vh;
    left: 41.7vw;
    cursor: pointer;
}

h1 {
    font-family: AppleGothic, sans-serif;
    font-weight: normal;
}

@keyframes blink {
    0% {
        box-shadow: none;
    }
    50% {
        box-shadow: 0 0 12px 2px var(--txt);
    }
    100% {
        box-shadow: none;
    }
}


/* Page 0 */

h2 {
    color: var(--txt);
    margin-top: 0px;
    font-family: freight-display-pro, serif;
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 20px;
}
h3 {
    color: var(--txt);
    font-family: freight-text-pro, serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    max-width: 60%;
    margin-bottom: 18px;
}



/* Page 1 */
.p1 {
    opacity: 0;
    max-width: inherit;
    height: calc(100vh - 6px);
    position: absolute;
    color: var(--txt);
    top: -6px;
}

.p1t {
    font-family: freight-display-pro, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15vw;
    line-height: 13vw;
    text-shadow:0px 0px 12px var(--txt);
    transform: scaleX(0.25);
    transform-origin: top left;
}

.p1 .check {
    position: absolute;
    top: auto;
    bottom: 8.5px;
    left: -6px;
    grid-template-columns: repeat(4,32px);
}

.p1 input[type="checkbox"] {
    grid-row: 1;
    color: var(--txt);
}

.strike1 {
    position: absolute;
    left: -7px;
    top: 16px;
    height: 2px;
    background: var(--txt);
    transform: rotate(-45deg);
    content: "";
    width: 32px;
    display: none;
    z-index: -1;
  }



/* Page 2 */
.p2 {
    opacity: 0;
    max-width: inherit;
    height: calc(100vh - 6px);
    position: absolute;
    color: var(--txt);
    top: 3px;
}

.p2t1 {
    font-family: freight-display-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 18px;
}

.p2t2 {
    font-family: freight-display-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 28px;
    text-shadow:0px 0px 12px var(--txt);
    width: 420px;
    margin-bottom: 14px;
}

.p2 .check {
    position: absolute;
    top: auto;
    bottom: 17.5px;
    left: -6px;
    grid-template-columns: repeat(4,32px);
}

.p2 input[type="checkbox"] {
    grid-row: 1;
    color: var(--txt);
}

.strike2 {
    position: absolute;
    left: -7px;
    top: 55px;
    height: 2px;
    background: var(--txt);
    transform: rotate(-45deg);
    content: "";
    width: 32px;
    display: none;
    z-index: -1;
  }



/* Page Final */
.pf {
    opacity: 0;
    width: 60%;
    height: calc(100vh - 10px);
    padding-right: 3.5%;
    border-right: 1px solid var(--txt);
    position: absolute;
    color: var(--txt);
    top: 3px;
}

.pfm {
    opacity: 0;
    width: 10.5%;
    height: calc(100vh - 6px);
    position: absolute;
    color: var(--txt);
    top: 3px;
    left: 88%;
    font-family: Bitmap;
    font-size: 16px;
    line-height: 18.5px;
    text-align: left;
}

.pfmt {
    margin-left: 0;
    margin-bottom: -4px;
}

.pfml {
    line-height: 18.5px;
    margin-left: 0;
    margin-bottom: 0px;
}

.slider-pair {
  width: 98%;
  margin: -14px -4px;
}

input[type="range"] {
  -webkit-appearance: none !important;
  background-color: transparent;
  width: calc(100% - 20px);
  height: 14px;
  border: 1px solid black;
  border-radius: 40px;
  margin: auto;
  padding: 5px;
  transform: translate(20px,-105px);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 16px;
  height: 16px;
  background-color: black;
  border-radius: 40px;
}

.rangevalue {
    color: transparent;
}